{{#if errors}}
  <div class="alert alert-warning">
    <ul>
      {{#each errors as |error|}}
        <li>{{#if error.message.detail}}{{ error.message.detail }}{{else}}{{error}}{{/if}}</li>
      {{/each}}
    </ul>
  </div>
{{/if}}
{{yield this}}
{{#if submitButton}}
  {{em-form-submit mainComponent=mainComponent}}
{{/if}}
